#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#todo-form {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  /* background-color: rgba(3255,255,255, .6); */
  /* padding: 16px; */
}

#todo-form label {
  margin: 4px;
}
#todo-form input {
  padding: 4px;

}

#view-flag-select {
  margin: 8px auto;
  padding: 4px;
}

#todo-list {
  display: flex;
  flex-direction: column;
}

#todo-list th {
background-color: aliceblue;
}

#todo-list td {
background-color: white;
}